body {
  font-weight: bold;
  color: #fefefefe;
  background: #111111;
  overflow: hidden;
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Press Start 2p',
    monospace;
}