.taskForm {
    .characterCount {
        font-family: Arial, Helvetica, sans-serif;
        color: #fefefe;
        font-size: 12px;
        position: relative;
        animation: fadeInDown 1.2s forwards;
    }

    .errorText {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(198, 33, 33);
        font-size: 12px;
        animation: headShake .5s forwards;
        line-height: 1.5vw;
    }

    form {
        .form-input {
            animation: fadeInUp 1.5s forwards;
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            border-radius: 10px;
            background-color: #1f3047;
            color: #fffffd;
            width: 100%;
            padding: 0.75rem;
            margin: 0.2rem 0;
            font-size: 1.2rem;

            &::placeholder {
                font-family: Arial, Helvetica, sans-serif;
                color: #fffffd;
                opacity: 0.6;

            }

            input:focus {
                border: 1px #fffffd;
                padding-left: 3vw;
            }
        }

        button {
            border-color: transparent;
            background-color: #53b4fa;
            margin-top: 2.5vh;
            border-radius: 30px;
            width: 35vh;
            padding: 2vh;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Roboto';
            text-transform: uppercase;
            letter-spacing: .1vw;
            color: #071934;
        }
    }
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    font-size: 12px;
    animation: fadeInDown 1.2s forwards;
}

.taskText {
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    font-size: 12px;
    animation: fadeInDown 1.2s forwards;
}

.taskContainer {
    .task {
        font-family: Arial, Helvetica, sans-serif;
        color: #fefefe;
        font-size: 12px;
        animation: fadeInDown 1.2s forwards;

        .taskUsername {
            font-family: Arial, Helvetica, sans-serif;
            color: #fefefe;
            font-size: 12px;
            animation: fadeInDown 1.2s forwards;
        }
    }
}
.planner-container {
    width: 100%;
}

.planner {
    height: 100%;
    overflow: scroll;
    padding:0 30px 0 20px;

    .date {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        color: #53b4fa;
    }

    .currTime {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        color: #fffffd;
    }

    .timeSlotContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;

        .timeSlots {
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            justify-content: space-between;

            .time {
                text-align: right;
                font-family: Arial, Helvetica, sans-serif;
                width: 100px;
                margin-right: 30px;
            }

            .taskEdit {
                font-family: Arial, Helvetica, sans-serif;
                border: none;
                border-radius: 10px;
                background-color: #1f3047;
                color: #fffffd;
                width: 100%;
                padding: 0.75rem;
                margin: 0.2rem 0;
                font-size: 1.2rem;

                &::placeholder {
                    font-family: Arial, Helvetica, sans-serif;
                    color: #fffffd;
                    opacity: 0.6;

                }

                input:focus {
                    border: 1px #fffffd;
                    padding-left: 3vw;
                }
            }

            .saveButton {
                align-self: center;
                border-color: transparent;
                background-color: #53b4fa;
                border-radius: 5px;
                width: 150px;
                height:68px;
                padding: 2vh;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Roboto';
                text-transform: uppercase;
                letter-spacing: .1vw;
                color: #071934;
            }
        }
    }
}